---
layout: splash
author_profile: true
header:
  overlay_image: knoobot_rightBehind.jpg
excerpt: "developing artificial 3D perception"
feature_row:
  - image_path: MIT_dome.jpg
    title: "3 Top Universities"
    excerpt: "TUM, GIT, MIT"
  - image_path: MIT_dome.jpg
    title: "4 Internships"
    excerpt: "KUKA Robotics, Evolution Robotics, Apple, Facebook Oculus Research"
  - image_path: MIT_dome.jpg
    title: "4 + 2 + 1 Publications"
    excerpt: "Computer Vision, Machine Learning, Robotics"
  - image_path: photography/torres1pano1.jpg
    title: "Longest Hike: 90 miles"
    excerpt: "O-Circuit in Torres del Paine"
  - title: "Leadership"
    excerpt: "3 technical, 5 social"
    image_path: MIT_dome.jpg
  - title: "2 + 6 Languages"
    excerpt: "German, English, C++, C, CUDA, Python, Matlab, Bash"
    image_path: MIT_dome.jpg
  - title: "6 Scholarships"
    image_path: MIT_dome.jpg
---

{% include base_path %}

{% include feature_row caption="This is a sample gallery to go along with this case study." %}

<center> Julian Straub </center>

<center>
{% for stat in site.data.resume_stats.stats %}
{{ stat.number }} {{ stat.type }} 
{% if stat.details %}
({{ stat.details }})
{% endif %}
- 
{% endfor %}
</center>

<center>
  <table style="width:100%">
{% for stat in site.data.resume_stats.stats %}
    <tr>
      <th>{{ stat.number }} </th>
      <th>{{ stat.type }} </th>
      <th>{% if stat.details %} {{ stat.details }} {% endif %}</th>
    </tr>
{% endfor %}
  </table>
</center>

<ul> 
{% for stat in site.data.resume_stats.stats %}
<li>{{ stat.number }} {{ stat.type }}
  {% if stat.details %}
  ({{ stat.details }})
  {% endif %}
</li>
{% endfor %}
</ul> 

